<%= render 'shared/success_alert_notice', notice: notice %>

<h1>Bills</h1>

<div class="table-responsive">
  <table class="table table-hover text-align-center">
    <thead class="thead-dark">
      <tr>
        <th>Sl. No.</th>
        <th>Date range</th>
        <th>Fee per game</th>
        <th>Total amount</th>
      </tr>
    </thead>
    <tbody>
      <% @bills.each_with_index do |bill, i| %>
        <tr onclick="document.location = '<%= '/bills/' + bill.id.to_s %>'";">
          <td><%= i + 1 %></td>
          <td><%= bill.date_range %></td>
          <td><%= bill.fee_per_game %></td>
          <td><%= total_amount(bill) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>