<%= render 'shared/success_alert_notice', notice: notice %>

<h1>Games</h1>

<div class="table-responsive">
  <table class="table table-sm table-hover text-align-center">
    <thead class="thead-dark">
      <tr>
        <th>Sl. No.</th>
        <th>Played on</th>
        <th>Time slot</th>
        <th>Duration</th>
        <th>No. of players</th>
      </tr>
    </thead>

    <tbody>
      <% @games.each_with_index do |game, i| %>
        <tr onclick="document.location = '<%= '/games/' + game.id.to_s %>'";">
          <td><%= i + 1 %></td>
          <td><%= parse_date(game.played_on) %></td>
          <td><%= parse_time_slot(game.time_slot) %></td>
          <td><%= parse_duration(game.duration) %></td>
          <td><%= game.player_ids.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<center><button><%= link_to 'Add New Game', new_game_path %></button></center>
