<%= render 'shared/success_alert_notice', notice: notice %>

<h1>Game details</h1>

<table>
  <tr>
    <th>Played on</th>
    <td><%= parse_date(@game.played_on) %></td>
  </tr>
  <tr>
    <th>Time slot</th>
    <td><%= parse_time_slot(@game.time_slot) %></td>
  </tr>
  <tr>
    <th>Duration</th>
    <td><%= parse_duration(@game.duration) %></td>
  </tr>
</table>

<h2>Players</h2>
<table>
  <thead>
    <tr>
      <th>
        Sl. No.
      </th>
      <th>
        Name
      </th>
      <th>
        Mobile number
      </th>
      <th>
        E-mail ID
      </th>
  </thead>

  <tbody>
    <% @game.players.each_with_index do |player, i| %>
      <tr>
        <td>
          <%= i + 1 %>
        </td>
        <td>
          <%= fullname(player.firstname, player.lastname) %>
        </td>
        <td>
          <%= player.mobile_number %>
        </td>
        <td>
          <%= player.email_id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</center>
