

<h1>Game details</h1>

<table class="table">
  <tr>
    <th>Played on</th>
    <td><%= @game.parsed_played_on_date %></td>
  </tr>
  <tr>
    <th>Time slot</th>
    <td><%= @game.parsed_time_slot %></td>
  </tr>
  <tr>
    <th>Duration</th>
    <td><%= @game.parsed_duration %></td>
  </tr>
</table>

<h2>Players</h2>
<table class="table table-hover text-align-center">
  <thead class="thead-dark">
    <tr>
      <th>
        Sl. No.
      </th>
      <th>
        Name
      </th>
      <th>
        Mobile number
      </th>
      <th>
        E-mail ID
      </th>
  </thead>

  <tbody>
    <% @game.players.each_with_index do |player, i| %>
      <tr>
        <td>
          <%= i + 1 %>
        </td>
        <td>
          <%= player.fullname %>
        </td>
        <td>
          <%= player.mobile_number %>
        </td>
        <td>
          <%= player.email_id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</center>
