<p id="notice"><%= notice %></p>

<h1>Game details</h1>

<table>
  <tr>
    <th>Played on</th>
    <td><%= parse_date(@game.played_on) %></td>
  </tr>
  <tr>
    <th>Time slot</th>
    <td><%= parse_time_slot(@game.time_slot) %></td>
  </tr>
  <tr>
    <th>Duration</th>
    <td><%= parse_duration(@game.duration) %></td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>
        Players
      </th>
  </thead>

  <tbody>
    <% @game.players.each do |player| %>
      <tr>
        <td>
          <%= fullname(player.firstname, player.lastname) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <%= link_to 'Edit', edit_game_path(@game) %>
  <%= link_to 'Back', games_path %>
</center>
