<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile number</th>
      <th>E-mail ID</th>
      <th>No. of games</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= fullname(player.firstname, player.lastname) %></td>
        <td><%= player.mobile_number %></td>
        <td><%= player.email_id %></td>
        <td><%= player.game_ids.count %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><button><%= link_to 'Add New Player', new_player_path %></button></center>
