<p id="notice"><%= notice %></p>

<h1>Player details</h1>

<table>
  <tr>
    <th>Name</th>
    <td><%= fullname(@player.firstname, @player.lastname) %></td>
  </tr>
  <tr>
    <th>Mobile number</th>
    <td><%= @player.mobile_number %></td>
  </tr>
  <tr>
    <th>E-mail ID</th>
    <td><%= @player.email_id %></td>
  </tr>
</table>

<h2>Recent matches</h2>

<table>
  <thead>
    <tr>
      <th>
        Sl. No.
      </th>
      <th>
        Played on
      </th>
    </tr>
  </thead>

  <tbody>
    <% @player.games.order(played_on: :desc).each_with_index do |game, i| %>
      <tr>
        <td>
          <%= i + 1 %>
        </td>
        <td>
          <%= parse_date(game.played_on) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <%= link_to 'Edit', edit_player_path(@player) %> |
  <%= link_to 'Back', players_path %>
</center>
