<%= render 'shared/success_alert_notice', notice: notice %>

<h1>Player details</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @player.fullname %></td>
  </tr>
  <tr>
    <th>Mobile number</th>
    <td><%= @player.mobile_number %></td>
  </tr>
  <tr>
    <th>E-mail ID</th>
    <td><%= @player.email_id %></td>
  </tr>
</table>

<h2>Recent matches</h2>

<table class="table table-hover text-align-center">
  <thead class="thead-dark">
    <tr>
      <th>
        Sl. No.
      </th>
      <th>
        Played on
      </th>
    </tr>
  </thead>

  <tbody>
    <% @player.games.order(played_on: :desc).each_with_index do |game, i| %>
      <tr>
        <td>
          <%= i + 1 %>
        </td>
        <td>
          <%= game.parsed_played_on_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <%= link_to 'Edit', edit_player_path(@player) %> |
  <%= link_to 'Back', players_path %>
</center>
