<h1>Player details</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @player.fullname %></td>
  </tr>
  <tr>
    <th>Mobile number</th>
    <td><%= @player.mobile_number %></td>
  </tr>
  <tr>
    <th>E-mail ID</th>
    <td><%= @player.email_id %></td>
  </tr>
</table>

<center>
  <%= link_to "Edit #{admin_logged_in? ? 'Player' : 'Profile'}", edit_player_path(@player), class: "btn btn-primary mb-3", role: "button" %>

  <% if admin_logged_in? %>

  <%= link_to 'Back', players_path, class: "btn btn-secondary mb-3", role: "button" %>

  <% end %>
</center>

<h2>Recent matches</h2>

<% if @player.games.count.zero? %>

<div class="alert alert-secondary" role="alert">
  No matches to show!
</div>

<% else %>

<div class="table-responsive table-secondary">
  <table class="table table-sm table-hover text-align-center">
    <thead class="thead-dark">
      <tr>
        <th>
          Sl. No.
        </th>
        <th>
          Played on
        </th>
      </tr>
    </thead>

    <tbody>
      <% @player.games.order(played_on: :desc).each_with_index do |game, i| %>
        <tr>
          <td>
            <%= i + 1 %>
          </td>
          <td>
            <%= game.parsed_played_on_date %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>
